{% extends 'central_authority/base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-sm-12">
        <div style="background-image:url({% static 'images/pic2.jpeg' %}); background-size:cover" class="card-box">
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="demo-box mt-4">
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        <h4 class="header-title">Complaint </h4>
                        <div class="table-responsive">
                            <table class="table m-0 table-colored-bordered table-bordered-secondary">
                                <thead>
                                <tr>
                                    <th>Complaint id</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Created by</th>
                                    <th>Reply</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in Complaint %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>{{i.title}}</td>
                                    <td>{{i.content}}</td>
                                    <td>{{i.created_by}}</td>
                                    <td>{% if i.replay %}{{i.replay}}{% else %}<a href="{% url 'replay' i.id%}"> <button class="btn btn-primary waves-effect width-md waves-light" type="submit" >Send</button></a>{% endif %}</td>



                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card-box -->
    </div>
    <!-- end col -->
</div>
<script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
 }}
</script>
{% endblock %}