{% extends 'central_authority/base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-sm-12">
        <div style="background-image:url({% static 'images/pic2.jpeg' %}); background-size:cover" class="card-box">
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="demo-box mt-4">
                        {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                        <h4 class="header-title">Specialist Registrations</h4>
                        <div class="table-responsive">
                            <table class="table m-0 table-colored-bordered table-bordered-secondary">
                                <thead>
                                <tr>
                                    <th>SI No</th>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>Verify</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in specialist %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>{{i.name}}</td>
                                    <td>{{i.phone_no}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.department}}</td>
                                    <td><a href="{% url 'verify_specialist' i.login_id_id %}">Verify</a></td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card-box -->
    </div>
    <!-- end col -->
</div>

{% endblock %}