{% extends 'specialist/base.html' %}
{% load crispy_forms_filters %}
{% block content %}


 <body>
  <h1>PrescriptionForm</h1>
    <div class="testbox">
      <form method="post">
        {% csrf_token %}
        {{sp_add_Prescription|crispy}}

        <hr/>

         <div class="form-group text-center mb-0">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                            Submit
                        </button>
                    </div>
<!--        <div class="item desired-outcome">-->
<!--          <p>Desired outcome</p>-->
<!--          <div class="desired-outcome-item">-->
<!--            <textarea rows="5"></textarea>-->
<!--            <small>By signing you declare that all information you have entered is truthful and accurate.</small>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h4>Your signature</h4>-->
<!--        <textarea rows="5"></textarea>-->
<!--        <small>By signing you declare that all information you have entered is truthful and accurate.</small>-->
      </form>
      <br><br><br><br>
    </div>
  <br><br><br><br><br><br>
  </body>

{% endblock %}